
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('Zoom-Finance.png');
  background-size: cover;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.announcement {
  
  padding: 20px;
  text-align: center;
  top: 20%;
}

.announcement h1 {
  margin: 0;
  font-size:80px;
  margin-bottom: 30px;
  color: #422C2F;
}

.scrolling-text {
  overflow: hidden;
}

.scroll-text {
  animation: scroll 10s linear infinite;
  font-size:65px;
  color: #422C2F;
  width: 100%;
  white-space: nowrap;

}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
